@font-face {
  font-family: 'Nunito';
  src:  url('../../src/assets/fonts/Nunito/regular/Nunito-Regular.woff') format('woff'),
        url('../../src/assets/fonts/Nunito/regular/Nunito-Regular.woff2') format('woff2'),
        url('../../src/assets/fonts/Nunito/regular/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:  url('../../src/assets/fonts/Nunito/medium/Nunito-Medium.woff') format('woff'),
  url('../../src/assets/fonts/Nunito/medium/Nunito-Medium.woff2') format('woff2'),
  url('../../src/assets/fonts/Nunito/medium/Nunito-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src:  url('../../src/assets/fonts/Nunito/bold/Nunito-Bold.woff') format('woff'),
  url('../../src/assets/fonts/Nunito/bold/Nunito-Bold.woff2') format('woff2'),
  url('../../src/assets/fonts/Nunito/bold/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Nunito', Arial, sans-serif;

  &.body--dark {
    --q-autofill-bg: #0b0f14;
  }

  &.body--light {
    --q-autofill-bg: transparent;
  }
}

.q-page-container {
  position: relative;
  background: black !important;

  &:before {
    content: '';
    position: absolute;
    inset: 0;

    background: linear-gradient(to right,
            rgba(0, 255, 200, 0.25),
            rgba(0, 180, 255, 0.25),
            rgba(0, 255, 255, 0.25));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.liquid-glass {
  background-color: color-mix(in srgb, #fff 5%, transparent);
  backdrop-filter: blur(8px) saturate(150%);
  box-shadow: inset 0 0 0 1px
  color-mix(in srgb, #fff calc(1* 10%), transparent), inset 1.8px 3px 0px -2px
  color-mix(in srgb, #fff calc(1 * 90%), transparent), inset -2px -2px 0px -2px
  color-mix(in srgb, #fff calc(1 * 80%), transparent), inset -3px -8px 1px -6px
  color-mix(in srgb, #fff calc(1 * 60%), transparent), inset -0.3px -1px 4px 0px
  color-mix(in srgb, #fff calc(1 * 12%), transparent), inset -1.5px 2.5px 0px -2px
  color-mix(in srgb, #fff calc(1 * 20%), transparent), inset 0px 3px 4px -2px
  color-mix(in srgb, #fff calc(1 * 20%), transparent), inset 2px -6.5px 1px -4px
  color-mix(in srgb, #fff calc(1 * 10%), transparent), 0px 1px 5px 0px
  color-mix(in srgb, #fff calc(1 * 10%), transparent), 0px 6px 16px 0px
  color-mix(in srgb, #fff calc(1 * 8%), transparent);
  transition: background-color 400ms
  cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms
  cubic-bezier(1, 0, 0.4, 1), transform 400ms;
  color: #fff;
  box-sizing: border-box;

  &--primary {
    background-color: color-mix(in srgb, #03d5ff 5%, transparent);
    backdrop-filter: blur(8px) saturate(150%);
    box-shadow: inset 0 0 0 1px color-mix(in srgb, #03d5ff calc(1* 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, #03d5ff calc(1 * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, #03d5ff calc(1 * 80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, #03d5ff calc(1 * 60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb, #03d5ff calc(1 * 12%), transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb, #03d5ff calc(1 * 20%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, #03d5ff calc(1 * 20%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb, #03d5ff calc(1 * 10%), transparent),
    0px 1px 5px 0px color-mix(in srgb, #03d5ff calc(1 * 10%), transparent),
    0px 6px 16px 0px color-mix(in srgb, #03d5ff calc(1 * 8%), transparent);
    transition: background-color 400ms
    cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms
    cubic-bezier(1, 0, 0.4, 1), transform 400ms;
    color: #03d5ff;
    box-sizing: border-box;
  }

  &--black {
    background-color: color-mix(in srgb, #000 5%, transparent);
    backdrop-filter: blur(8px) saturate(150%);
    box-shadow: inset 0 0 0 1px
    color-mix(in srgb, #000 calc(1* 10%), transparent), inset 1.8px 3px 0px -2px
    color-mix(in srgb, #000 calc(1 * 90%), transparent), inset -2px -2px 0px -2px
    color-mix(in srgb, #000 calc(1 * 80%), transparent), inset -3px -8px 1px -6px
    color-mix(in srgb, #000 calc(1 * 60%), transparent), inset -0.3px -1px 4px 0px
    color-mix(in srgb, #000 calc(1 * 12%), transparent), inset -1.5px 2.5px 0px -2px
    color-mix(in srgb, #000 calc(1 * 20%), transparent), inset 0px 3px 4px -2px
    color-mix(in srgb, #000 calc(1 * 20%), transparent), inset 2px -6.5px 1px -4px
    color-mix(in srgb, #000 calc(1 * 10%), transparent), 0px 1px 5px 0px
    color-mix(in srgb, #000 calc(1 * 10%), transparent), 0px 6px 16px 0px
    color-mix(in srgb, #000 calc(1 * 8%), transparent);
    transition: background-color 400ms
    cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms
    cubic-bezier(1, 0, 0.4, 1), transform 400ms;
    color: #fff;
    border: none;
    box-sizing: border-box;
  }

  &--red {
    background-color: color-mix(in srgb, #f44336 5%, transparent);
    backdrop-filter: blur(8px) saturate(150%);
    box-shadow: inset 0 0 0 1px
    color-mix(in srgb, #f44336 calc(1* 10%), transparent), inset 1.8px 3px 0px -2px
    color-mix(in srgb, #f44336 calc(1 * 90%), transparent), inset -2px -2px 0px -2px
    color-mix(in srgb, #f44336 calc(1 * 80%), transparent), inset -3px -8px 1px -6px
    color-mix(in srgb, #f44336 calc(1 * 60%), transparent), inset -0.3px -1px 4px 0px
    color-mix(in srgb, #f44336 calc(1 * 12%), transparent), inset -1.5px 2.5px 0px -2px
    color-mix(in srgb, #f44336 calc(1 * 20%), transparent), inset 0px 3px 4px -2px
    color-mix(in srgb, #f44336 calc(1 * 20%), transparent), inset 2px -6.5px 1px -4px
    color-mix(in srgb, #f44336 calc(1 * 10%), transparent), 0px 1px 5px 0px
    color-mix(in srgb, #f44336 calc(1 * 10%), transparent), 0px 6px 16px 0px
    color-mix(in srgb, #f44336 calc(1 * 8%), transparent);
    transition: background-color 400ms
    cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms
    cubic-bezier(1, 0, 0.4, 1), transform 400ms;
    color: #f44336;
    border: none;
    box-sizing: border-box;
  }
}

.text-link {
  text-decoration: none;
  color: inherit;
}

.auto-field.q-field--outlined .q-field__control input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  border-radius: inherit !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

.glass {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(30px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 18px;
  box-shadow: 0 10px 40px rgba(0, 255, 200, 0.05), inset 0 1px 10px rgba(255, 255, 255, 0.05);
  transition: all 0.4s ease;

  &:hover {
    box-shadow: 0 15px 45px rgba(0, 255, 200, 0.1), inset 0 1px 12px rgba(255, 255, 255, 0.08);
  }

  &-red {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(30px) saturate(180%);
    border: 1px solid rgba(244, 67, 54, 0.2);
    border-radius: 18px;
    box-shadow: 0 10px 40px rgba(244, 67, 54, 0.15), inset 0 1px 10px rgba(244, 67, 54, 0.15);
    transition: all 0.4s ease;

    &:hover {
      box-shadow: 0 15px 45px rgba(244, 67, 54, 0.3), inset 0 1px 12px rgba(244, 67, 54, 0.3);
    }
  }
}

.gradient-text {
  background: linear-gradient(135deg, #00e1ff, #00ffaa);
  -webkit-background-clip: text; /* для Chrome, Safari */
  -webkit-text-fill-color: transparent; /* делаем текст прозрачным, чтобы был виден фон */
  background-clip: text; /* для Firefox */
  color: transparent;
  font-weight: 700;
}

.gradient-bg {
  background: linear-gradient(135deg, #00e1ff, #00ffaa);
  color: #000;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
  transition: all 0.3s ease;
}

/* Акцент на кнопке */
.button {
  background: linear-gradient(135deg, #00e1ff, #00ffaa);
  color: #000;
  font-weight: 600;
  border-radius: 12px;
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.4);
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 0 40px rgba(0, 255, 200, 0.6);
  transform: translateY(-2px);
}

.q-field {
  &.btn-glass {
    .q-field {
      &__control {
        padding: 0 16px;
        background: transparent;

        &:before{
          @extend .liquid-glass;
        }

        &:after {
          display: none;
          opacity: 0;
        }
      }

      &--focused {
        .q-icon{
          color: #03d5ff;
        }
      }
    }
  }

  &.btn-path {
    .q-field {
      &__control {
        height: 56px;
        padding: 8px 8px 8px 16px;

        &-container {
          height: 100%;
        }
      }
    }
  }
}

.q-field__native:-webkit-autofill,
.q-field__native:-webkit-autofill:hover,
.q-field__native:-webkit-autofill:focus,
.q-field__native:-webkit-autofill:active {
  -webkit-text-fill-color: inherit !important;
  caret-color: inherit !important;

  /* перекрываем "заливку" Chrome autofill */
  -webkit-box-shadow: 0 0 0 1000px var(--q-autofill-bg, #0b0f14) inset !important;
  box-shadow: 0 0 0 1000px var(--q-autofill-bg, #0b0f14) inset !important;

  background-color: transparent !important;
  background-image: none !important;
}

/* Подсветка текста */
h1, h2, h3 {
  color: #fff;
  line-height: 110%;
  text-shadow: 0 0 25px rgba(0, 255, 255, 0.3);
}

.container {
  height: inherit;
  min-height: inherit;
  width: 100%;
  max-width: 414px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: 37.5em) {
    max-width: 768px;
    padding: 0 24px;
  }

  @media (min-width: 64em) {
    max-width: 1024px;
    padding: 0 32px;
  }

  @media (min-width: 77.5em) {
    max-width: 1240px;
  }

  @media (min-width: 90em) {
    max-width: 1240px;
    padding: 0 40px;
  }

  @media (min-width: 100em) {
    max-width: 1440px;
  }

  @media (min-width: 120em) {
    max-width: 1600px;
  }

  @media (min-width: 160em) {
    max-width: 1920px;
  }
}

.q-btn {
  &.btn-icon {
    width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 50%;

    .q-icon {
      font-size: 2em;
    }
  }

  &.btn-link {
    font-size: 1rem;
    line-height: 110%;
    text-transform: capitalize;

    @media (min-width: 48em) {
      font-size: 1.25rem;
    }

    @media (min-width: 77.5em) {
      font-size: 1.5rem;
    }

    @media (min-width: 158.75em) {
      font-size: 1.75rem;
    }
  }

  &.btn-glass {
    &:before {
      @extend .liquid-glass;
    }
  }

  &.btn-glass--primary {
    color: #fff;

    .q-focus-helper {
      display: none;
    }

    &:before {
      border: 1px solid #03d5ff;
      color: #03d5ff;
      backdrop-filter: blur(8px) saturate(150%);
      box-shadow: 0 0 4px #03d5ff, inset 0 0 12px #03d5ff;
      transition: 0.25s;

      @media (min-width: 77.5em) {
        box-shadow: 0 0 6px #03d5ff, inset 0 0 18px #03d5ff;
      }

      @media (min-width: 158.75em) {
        box-shadow: 0 0 10px #03d5ff, inset 0 0 30px #03d5ff;
      }
    }

    &:hover {
      &:before {
        box-shadow: 0 0 6px #03d5ff, inset 0 0 6px #03d5ff;

        @media (min-width: 77.5em) {
          box-shadow: 0 0 9px #03d5ff, inset 0 0 9px #03d5ff;
        }

        @media (min-width: 158.75em) {
          box-shadow: 0 0 15px #03d5ff, inset 0 0 15px #03d5ff;
        }
      }
    }

    &:active {
      &:before {
        box-shadow: 0 0 12px #03d5ff, inset 0 0 4px #03d5ff;

        @media (min-width: 77.5em) {
          box-shadow: 0 0 18px #03d5ff, inset 0 0 6px #03d5ff;
        }

        @media (min-width: 158.75em) {
          box-shadow: 0 0 30px #03d5ff, inset 0 0 15px #03d5ff;
        }
      }
    }
  }

  &.btn-glass--black {
    &:before {
      @extend .liquid-glass--black;
    }
  }

  &.btn-glass--red {
    &:before {
      @extend .liquid-glass--red;
    }
  }

  &.btn-download {
    font-size: 1.25rem;

    @media (min-width: 48em) {
      font-size: 1.5rem;
      border-radius: 32px;
    }

    @media (min-width: 64em) {
      font-size: 1.75rem;
      border-radius: 36px;
    }

    @media (min-width: 77.5em) {
      font-size: 2rem;
      border-radius: 42px;
    }

    @media (min-width: 158.75em) {
      font-size: 2.5rem;
      border-radius: 54px;
    }
  }

  &:hover {
    .q-icon {
      color: #03d5ff;
    }

    &.btn-glass--red {
      .q-icon {
        color: red;

      }
    }
  }

  &-group {
    .q-btn {
      min-width: 150px;
      border: 1px solid #ffffff !important;
      background: rgba(0,0,0,0.2) !important;

      &[aria-pressed="true"] {
        background: transparent !important;
        border-color: #03d5ff !important;
        box-shadow: 0 0 10px #03d5ff;
      }
    }
  }
}

.section {
  padding: 20px 0;
  color: white;

  @media (min-width: 77.5em) {
    padding: 48px 0;
  }

  &__body {
    padding-top: 20px;
    margin-bottom: 20px;

    @media (min-width: 77.5em) {
      padding-top: 48px;
      margin-bottom: 48px;
    }
  }

  &__title {
    margin-bottom: 36px;

    @media (min-width: 64em) {
      height: 100%;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 16px;

      @media (min-width: 64em) {
        font-size: 2rem;
      }

      @media (min-width: 158.75em) {
        font-size: 2.5rem;
      }
    }

    p {
      font-size: 1rem;
      line-height: 110%;
      opacity: 0.7;

      @media (min-width: 64em) {
        font-size: 1.25rem;
      }

      @media (min-width: 158.75em) {
        font-size: 1.75rem;
      }
    }
  }

  &__video {
    border-radius: 12px;
    overflow: hidden;

    @media (min-width: 64em) {
      border-radius: 16px;
    }

    @media (min-width: 77.5em) {
      border-radius: 20px;
    }
  }
}

.menu {
  &-primary {
    box-sizing: content-box;
    border: 1px solid #03d5ff;
    border-radius: 16px;
    color: #03d5ff;
    backdrop-filter: blur(8px) saturate(150%);
    box-shadow: 0 0 5px #03d5ff, inset 0 0 10px #03d5ff !important;
    background: transparent;
  }
}
