// app global css in SCSS form
.bg {
  margin: 0;
  padding: 0;
  background: #222626;
  //background: linear-gradient(331deg,rgba(34, 38, 38, 1) 9%, rgba(116, 125, 124, 1) 91%);
  background: linear-gradient(323deg,rgba(60, 71, 71, 1) 21%, rgba(134, 138, 137, 1) 74%);
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.text-link {
  text-decoration: none;
  color: inherit;
}

.responsive-width {
  width: 80%; /* Мобилки по умолчанию */
}

/* Планшеты (600px - 1023px) */
@media (min-width: 600px) and (max-width: 1023px) {
  .responsive-width {
    width: 50%;
  }
}

/* Десктоп (1024px+) */
@media (min-width: 1024px) {
  .responsive-width {
    width: 25%;
  }
}

///* Chrome autofill fix for Quasar outlined dark inputs */
//.q-field--outlined .q-field__control input:-webkit-autofill {
//  -webkit-text-fill-color: #fff !important;
//  caret-color: #fff !important;
//  border-radius: inherit !important;
//  background-clip: text !important;
//  -webkit-background-clip: text !important;
//  background-color: transparent !important;
//  transition: background-color 9999s ease-in-out 0s !important;
//}

/* Chrome autofill fix — применяется только к .autofill-fix */
.auto-field.q-field--outlined .q-field__control input:-webkit-autofill {
  -webkit-text-fill-color: #000000 !important;
  caret-color: #000000 !important;
  border-radius: inherit !important;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  background-color: transparent !important;
  transition: background-color 9999s ease-in-out 0s !important;
}


